/* #region GENERAL */

$general-max-width: 1440px;
$content-max-width: 1280px;
$general-gap: 30px;
$general-padding-inline: 55px;

/* #endregion GENERAL */

/* #region FONTS */

$font-montserrat: 'Montserrat', serif;
$font-IBM-plex: 'IBM Plex Sans', serif;

/* #endregion FONTS */
